<h1>LISTA DE PRODUCTOS</h1>
<h2>Productos:</h2>
<section class="container">
        <div class="row justify-content-around">
                {{#each productList}}
                <div class="card col-4 m-1">
                        <img src="{{this.thumbnail}}" class="card-img-top img-fluid" alt="{{this.title}}">
                        <div class="card-body">
                                <h3 class="card-title">{{this.title}}</h3>
                                <h4 class="card-title">precio: ${{this.price}}</h4>
                                <p class="card-text">{{this.description}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">codigo:{{this.code}}</li>
                                <li class="list-group-item">stock: {{this.stock}}</li>
                                <li class="list-group-item">categoria: {{this.category}}</li>
                                <li class="list-group-item">id: {{this.id}}</li>
                                <li class="list-group-item text-success">status: {{this.productStatus}}</li>
                        </ul>
                        <div class="card-body">
                                <button type="button" class="btn btn-success disable">comprar</button>
                                <button type="button" class="btn btn-danger disable">eliminar</button>
                        </div>
                </div>
                {{/each}}
        </div>
</section>



{{!-- <div class="col-4" style="border: 1px solid black; margin:3px;">
        <img src="{{this.thumbnail}}" class="img-fluid rounded" alt="{{this.title}}">
        <h3>{{this.title}}</h3>
        <p>precio: ${{this.price}}</p>
        <p>{{this.description}}</p>
        <p>codigo:{{this.code}}</p>
        <p>stock: {{this.stock}}</p>
        <p>categoria: {{this.category}}</p>
        <p>id: {{this.id}}</p>
        <p style="color: greenyellow;">status: {{this.status}}</p>
</div> --}}